<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0"> 
    <dict> 
        <key>Label</key> 
            <string>daily.log.gen</string> 
        <key>ProgramArguments</key> 
            <array> 
                <string>/usr/local/bin/dlg</string>
            </array> 
        <!-- Uncomment to set custom root directory -->
        <!-- <key>EnvironmentVariables</key>
        <dict>
            <key>DAILY_LOG_DIRECTORY</key>
            <string>custom_path_to_daily_log_root_directory</string>
        </dict> -->
        <!-- Run daily at 8am -->
        <key>StartCalendarInterval</key>
            <dict>
                <key>Hour</key>
                <integer>8</integer>
                <key>Minute</key>
                <integer>0</integer>
            </dict>
    </dict> 
</plist>