<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>daily.log.gen</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/dlg</string>
        </array>
        <!-- Uncomment to set custom root directory -->
        <!--
        <key>EnvironmentVariables</key>
        <dict>
            <key>DAILY_LOG_DIRECTORY</key>
            <string>custom_path_to_daily_log_root_directory</string>
        </dict>
        -->
        <key>StartCalendarInterval</key>
        <array>
            <dict>
                <key>Hour</key>
                <integer>8</integer>
                <key>Minute</key>
                <integer>0</integer>
                <key>Weekday</key>
                <integer>1</integer> <!-- Monday -->
            </dict>
            <dict>
                <key>Hour</key>
                <integer>8</integer>
                <key>Minute</key>
                <integer>0</integer>
                <key>Weekday</key>
                <integer>2</integer> <!-- Tuesday -->
            </dict>
            <dict>
                <key>Hour</key>
                <integer>8</integer>
                <key>Minute</key>
                <integer>0</integer>
                <key>Weekday</key>
                <integer>3</integer> <!-- Wednesday -->
            </dict>
            <dict>
                <key>Hour</key>
                <integer>8</integer>
                <key>Minute</key>
                <integer>0</integer>
                <key>Weekday</key>
                <integer>4</integer> <!-- Thursday -->
            </dict>
            <dict>
                <key>Hour</key>
                <integer>8</integer>
                <key>Minute</key>
                <integer>0</integer>
                <key>Weekday</key>
                <integer>5</integer> <!-- Friday -->
            </dict>
        </array>
        <key>StandardOutPath</key>
        <string>/tmp/dlg.out</string>
        <key>StandardErrorPath</key>
        <string>/tmp/dlg.err</string>
    </dict>
</plist>

